In [2]:
import os
os.listdir()

['basicsFunc.py',
 'temp.csv',
 'basicsDecl.py',
 '.DS_Store',
 'basicsVar.py',
 'basicsDict.py',
 'basicsModule.py',
 'Untitled.ipynb',
 'basicsFile.py',
 'basicsCond.py',
 'PythonApp1',
 'basics.py',
 'basicsRange.py',
 '.ipynb_checkpoints',
 'basicsList.py',
 'basicsIndex.py',
 'basicsTuple.py']

In [3]:
import pandas

In [5]:
df1=pandas.read_csv("temp.csv")
df1

    st1   st2
0  23.3  22.1
1  24.0  23.1
2  22.1  20.2
3  19.1  16.8

In [6]:
import os
os.listdir()

['basicsFunc.py',
 'temp.csv',
 'basicsDecl.py',
 '.DS_Store',
 'basicsVar.py',
 'basicsDict.py',
 'basicsModule.py',
 'Untitled.ipynb',
 'supermarkets.json',
 'basicsFile.py',
 'basicsCond.py',
 'original.csv',
 'PythonApp1',
 'basics.py',
 'basicsRange.py',
 '.ipynb_checkpoints',
 'basicsList.py',
 'basicsIndex.py',
 'basicsTuple.py']

In [7]:
import pandas

In [8]:
df1=pandas.read_json("supermarkets.json")
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [10]:
import pandas
df2=pandas.read_excel("original.xlrd",sheet_name=0)
df2

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

In [11]:
import pandas

In [12]:
df2=pandas.read_excel("original.xlsx",sheet_name=0)
df2

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20